* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 241, 241);
}

body .nav-search-col {
  margin: 0;
  padding: 0%;
}

body .row {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(245, 241, 241);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #13254b;
  border-radius: 10px;
}
/****************************** navbar section  *******************************/

#navbar {
  position: relative;
  padding: 0 3.5%;
  background-color: #13254b;
  z-index: 100;
}

li.nav-link {
  margin: auto;
}

.nav-link a {
  color: #757a96;
  font-weight: 800;
}

.nav-link a:hover {
  color: #ffbb00;
  text-decoration: none;
}

.navbar-brand {
  color: #757a96;
  font-weight: 700;
}

.navbar-brand:hover {
  color: #ffbb00;
}

#navbar .navbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.search-sec {
  width: 280px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  background-color: #aec5eb;
}

.nav-search-col {
  display: inline;
}

.searchbox {
  position: relative;
  margin-left: 3%;
  padding-right: 13%;
  border: none;
  background-color: transparent;
}

input[type="text"]:focus {
  outline: none;
}

.search-btn {
  padding-left: 0%;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

.nav-logo {
  width: 3.5rem;
}

/***** nav menu  *********/

.menu {
  width: 40px;
  height: 40px;
  border: 2px solid #a4a7b8;
  border-radius: 5px;
  cursor: pointer;
}

.menup {
  position: relative;
  width: 100%;
  margin: 9px auto 0;
  text-align: center;
}

.menu p {
  width: 20px;
  height: 3px;
  background-color: #d4d7ec;
  border-radius: 5px;
  margin: 5px auto;
  position: relative;
  box-sizing: border-box;
  transition: 0.5s;
}

.change .menup .bar1 {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 5px);
  transition: 0.5s;
  background-color: #ffbb00;
}

.change .menup .bar2 {
  opacity: 0;
  transition: 0.3s;
}

.change .menup .bar3 {
  width: 25px;
  background-color: #ffbb00;
  transform: rotate(45deg) translate(-6px, -6px);
  transition: 0.5s;
}

.menu-items {
  position: absolute;
  background-color: #140431f5;
  top: -40px;
  right: 15px;
  width: 250px;
  text-align: center;
  border-radius: 4px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(135px);
  transition: all 200ms linear;
}

.menu-items.change {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(120px);
  transition: all 200ms linear;
}

.menu-item {
  position: relative;
  display: block;
  padding: 3% 0;
  color: #eadeda;
  font-weight: 800;
  text-decoration: none;
  margin: 2%;
}

.menu-item:hover:not(:first-child) {
  text-decoration: none;
  color: #383734;
  background-color: #ffc857;
  border-radius: 5px;
}

.menu-search-item {
  padding: 1% 0;
  border-radius: 5px;
  position: relative;
  background-color: #b3cdd1;
}

.menu-search-item input {
  padding: 0;
  margin: 0;
  position: relative;
  width: 75%;
  display: inline;
}

.menu-search-item button {
  padding: 0;
  margin: 0;
  position: relative;
  width: 20%;
  display: inline;
}

.section-dropdown-search,
.section-dropdown-top {
  position: relative;
  display: none;
  background-color: #1f0c42;
  padding: 2% 0;
}
.section-dropdown-search.show,
.section-dropdown-top.show {
  display: block;
}
.section-dropdown-top {
  text-align: left;
}
.section-dropdown-top a {
  display: block;
  text-decoration: none;
  color: #2b5a79;
  font-size: 18px;
  padding: 3% 10%;
}
.section-dropdown-top a:hover {
  color: #8eb12f;
}
.section-dropdown-search a {
  display: block;
  text-decoration: none;
}
.section-dropdown-search-item {
  position: relative;
  text-align: left;
  padding: 3% 10%;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.section-dropdown-search-item i {
  position: absolute;
  right: 10%;
  top: 30%;
  opacity: 0;
  transform: rotate(-360deg);
  transition: all 0.3s;
}
.section-dropdown-search-item span {
  color: #2b5a79;
  font-size: 18px;
}
input[type="checkbox"]:checked ~ i {
  opacity: 1;
  color: #2497e3;
  transform: rotate(360deg);
  transition: all 0.2s;
}
.menu-search-btn {
  border: 0;
  border-radius: 5px;
  color: #aec1ce;
  padding: 1.5% 3%;
  background-color: cornflowerblue;
}
.menu-search-btn:active {
  transform: scale(0.95);
}

@media (max-width: 820px) {
  ul.nav-col li:not(:last-child) {
    display: none;
  }
  .carousel-item-vid {
    height: 277px;
  }
}

@media (max-width: 560px) {
  .search-sec {
    display: none;
  }
  .carousel-item-vid {
    height: 220px;
  }
}

/****************************************************** content section ****************************/

#content {
  padding-top: 1%;
  margin: auto;
  width: 89%;
}

.content-col1 {
  padding: 0;
  margin: auto;
  text-align: center;
}

.content-col2 {
  padding: 0;
  margin: auto;
}

.content-img {
  position: relative;
  border: 2px solid #40475c;
  border-radius: 35px;
  width: 230px;
  box-shadow: 0 0 20px #c6cfe6, 0 0 20px #c6cfe6;
}

.content-detail {
  position: relative;
  display: inline-block;
  width: 90%;
  text-align: left;
  padding-left: 2%;
}

.content-name {
  padding: 2% 0 4%;
  font-size: 2.1rem;
  text-decoration: none;
  color: #2d3958;
  font-weight: 800;
}

.content-name:hover {
  text-decoration: none;
  color: #ffbb00;
}

@media (max-width: 768px) {
  .content .row {
    justify-content: center;
  }
  .content-col3 {
    width: 60%;
    min-width: 300px;
  }
  .carousel-item-vid {
    height: 260px;
  }
}

.site-rating {
  display: flexbox;
  justify-content: flex-end;
  text-align: right;
}

.percent {
  font-size: 2rem;
  font-weight: 600;
}

.rate {
  color: rgb(97, 37, 37);
  font-size: 4rem;
  font-weight: 700;
  padding-right: 10%;
  margin: 0%;
}

.rate-it {
  min-width: 275px;
  margin: auto;
}

.content-col3 {
  margin: auto;
  padding: 0;
  padding-top: 2%;
}

/* rate  */

.star-rate {
  margin-bottom: 6%;
  border: 1px solid #40475c;
  border-radius: 5px;
  box-shadow: 0 0 20px #c6cfe6, 0 0 20px #c6cfe6;
  padding: 2%;
  text-align: center;
  color: #c2c9a6;
}

.star-icon {
  color: #ffe400;
  font-size: 18px;
  text-align: center;
}

.star-icon input {
  display: none;
}

.star-icon input + label {
  cursor: pointer;
}

.star-icon input + label:hover {
  color: #dad753;
}

.star-icon input:checked + label ~ label:hover {
  color: #bdbb65;
}

.star-icon input:checked + label ~ label {
  color: #838383;
}

.star-icon label:active {
  transform: scale(1.2);
}

.silde-rating {
  border: 1px solid #40475c;
  border-radius: 5px;
  box-shadow: 0 0 20px #c6cfe6, 0 0 20px #c6cfe6;
  padding: 2%;
}

.silde-rating h5 {
  text-align: center;
  color: #c2c9a6;
}

.silde-rating div span,
.silde-rating div input {
  padding: 0;
  margin: 0;
}

input[type="range"] {
  height: 21px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #9ee34f;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 14px;
  width: 14px;
  border-radius: 9px;
  background: #c1ff57;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #9ee34f;
}

.silde-rating span {
  font-weight: 500;
}

.silde-rating .row {
  padding: 3% 2%;
}

.slider-value {
  text-align: center;
}

.rating-btn {
  text-align: center;
  width: 100%;
}

.rating-btn button {
  color: #fff;
  border: 2px solid #238917;
  border-radius: 10px;
  padding: 1% 3%;
  background-color: #238917;
  margin-left: 4%;
  box-shadow: 0 0 7px #238917;
}
.rating-btn button:active {
  transform: scale(0.95);
}
.high-rate {
  visibility: hidden;
}

/************************************** tabs section ***********************************/

.tabs-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3% auto;
  border: none;
  flex-wrap: wrap;
  box-sizing: border-box;
}

a.tab-secteor {
  margin: 1%;
  box-shadow: 0 0 6px #c6cfe6, 0 0 6px #c6cfe6;
  border-radius: 20px;
  padding: 0.6% 1.2%;
  position: relative;
  color: #1a3365;
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
}

.tabs-items .tab-secteor.active {
  color: #ffbb00;
  box-shadow: inset 0 0 6px #c6cfe6, inset 0 0 6px #c6cfe6;
  transition: 0.3s;
}

/****************** tab1 content **************/

.carousel {
  position: relative;
  width: 60%;
  margin: 2% auto;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  top: 42%;
  bottom: 42%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-imgs {
  position: relative;
  width: 100%;
}

.carousel-item-vid {
  width: 100%;
  height: 430px;
}

.overview-detail {
  padding: 0 5%;
}

/****************** tab2 content *****************/

.table-tab {
  position: relative;
  width: 75%;
  margin: auto;
}

.table {
  position: relative;
  display: inline-table;
}

.first-tb-item {
  font-size: 1rem;
  font-weight: 700;
  width: 30%;
}

.fard {
  background-color: rgb(231, 228, 228);
}

.zoj {
  background-color: rgb(230, 220, 220);
}

.second-tb-item {
  font-size: 1rem;
  font-weight: 500;
}

td {
  border: 4px solid transparent;
}

td.table-item,
th {
  border-top: none;
}

/******************************************** footer section **************************/

#footer {
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
}

#footer .row {
  margin: 0%;
}

.aboutus {
  position: relative;
  background: red;
  width: 70%;
  /* padding: 3% 7%; */
  text-align: left;
  font-family: "Merriweather", serif;
}

.aboutus h4 {
  color: #fff;
  padding: 7% 3% 1%;
}

.aboutus p {
  color: #fff;
  padding: 0 5% 5%;
}

.num-social {
  padding-right: 3%;
  font-size: 1.8rem;
  color: #fff;
  padding-top: 2%;
}

.socialmedias {
  padding-top: 2%;
}

.social-item {
  padding: 0 1%;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
}

.details {
  padding: 7%;
}

.proxmail {
  color: #fff;
  font-size: 1.3rem;
}

.details span {
  color: #a7a5a5;
  font-size: 1.2rem;
  font-weight: 600;
}

.details p {
  color: aliceblue;
  font-size: 1rem;
  padding: 1%;
}

.footer-nav {
  padding-bottom: 1%;
}

.footer-nav a {
  color: rgb(180, 176, 176);
  margin: 0% 5% 3%;
}

#copyright {
  background-color: rgb(24, 23, 23);
  margin: 0;
  padding-top: 0;
}

#copyright a {
  color: #8eb12f;
}

#copyright p {
  margin: 0%;
}

@media (max-width: 993px) {
  .aboutus {
    margin: auto;
    width: 90%;
  }
  .aboutus h4 {
    padding: 2% 3% 1%;
  }
  .aboutus p {
    padding: 0 5% 2%;
  }
  .details {
    padding: 2%;
  }
  .carousel-item-vid {
    height: 335px;
  }
}
