body{
    margin: 0%;
    padding: 0%;
    background: rgb(164, 178, 204);
    font-family: sans-serif;
}

.loginBox{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 30%;
    margin: 1% auto;
    min-width: 30%;
    min-height: 30%;
    background: cornsilk;
    border-radius: 6%;
    padding: 2% 4%;
    box-sizing: border-box;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}
@media (max-width:1000px){
    .loginBox{
        min-width: 45%;
    }
}
@media (max-width:600px) {
    .loginBox{
        min-width: 65%;
        margin: 3% auto;
    }
    
}
.user{
    margin: 0 auto;
    display: block;
    height: 30%;
    width: 30%;
}

.icon{
    padding: 0 46%;
    font-size: 25px;
    color: #262626;
}

.btn{
    border: none;
    outline: none;
    font-size: 1.5rem;
    background: #2b1a3b;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    padding: 3%;
    margin-top: 2%;
}

.loginBox a{
    color: #262626;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}

h3{
    margin: 0 auto 10%;
    padding-bottom: 1%;
    color: #262626;
    text-align: center;
    font-size: 2.2rem;
}

.loginBox input{
    width: 100%;
    margin-bottom: 5%;
}
.text,
.password{
    border: none;
    outline: none;
    color: #262626;
    border-bottom: 2px solid #262626;
    background: transparent;
    font-size: 1.4rem;
    padding-bottom: 3%;
    display: inline;
    padding-left: 5%;
    box-sizing: border-box;
}

.inputBox{
    position: relative;
}