* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: rgb(245, 241, 241);
}

.container {
  padding: 7% 15%;
  text-align: center;
}

body .row {
  margin: 0%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(245, 241, 241);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #13254b;
  border-radius: 10px;
}
/************************************* navbar ******************************/

#navbar {
  position: relative;
  padding: 0 3.5%;
  background-color: #13254b;
  z-index: 100;
}

li.nav-link {
  margin: auto;
}

.nav-link a {
  color: #757a96;
  font-weight: 800;
}

.nav-link a:hover {
  color: #ffbb00;
  text-decoration: none;
}

.navbar-brand {
  color: #757a96;
  font-weight: 700;
}

.navbar-brand:hover {
  color: #ffbb00;
}

#navbar .navbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.search-sec {
  width: 280px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  background-color: #aec5eb;
}

.nav-search-col {
  display: inline;
}

.searchbox {
  position: relative;
  margin-left: 3%;
  padding-right: 13%;
  border: none;
  background-color: transparent;
}

input[type="text"]:focus {
  outline: none;
}

.search-btn {
  padding-left: 0%;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

.nav-logo {
  width: 3.5rem;
}

/***** nav menu  *********/

.menu {
  width: 40px;
  height: 40px;
  border: 2px solid #a4a7b8;
  border-radius: 5px;
  cursor: pointer;
}

.menup {
  position: relative;
  width: 100%;
  margin: 9px auto 0;
  text-align: center;
}

.menu p {
  width: 20px;
  height: 3px;
  background-color: #d4d7ec;
  border-radius: 5px;
  margin: 5px auto;
  position: relative;
  box-sizing: border-box;
  transition: 0.5s;
}

.change .menup .bar1 {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 5px);
  transition: 0.5s;
  background-color: #ffbb00;
}

.change .menup .bar2 {
  opacity: 0;
  transition: 0.3s;
}

.change .menup .bar3 {
  width: 25px;
  background-color: #ffbb00;
  transform: rotate(45deg) translate(-6px, -6px);
  transition: 0.5s;
}

.menu-items {
  position: absolute;
  background-color: #140431f5;
  top: -40px;
  right: 15px;
  width: 250px;
  text-align: center;
  border-radius: 4px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(135px);
  transition: all 200ms linear;
}

.menu-items.change {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(120px);
  transition: all 200ms linear;
}

.menu-item {
  position: relative;
  display: block;
  padding: 3% 0;
  color: #eadeda;
  font-weight: 800;
  text-decoration: none;
  margin: 2%;
}

.menu-item:hover:not(:first-child) {
  text-decoration: none;
  color: #383734;
  background-color: #ffc857;
  border-radius: 5px;
}

.menu-search-item {
  padding: 1% 0;
  border-radius: 5px;
  position: relative;
  background-color: #b3cdd1;
}

.menu-search-item input {
  padding: 0;
  margin: 0;
  position: relative;
  width: 75%;
  display: inline;
}

.menu-search-item button {
  padding: 0;
  margin: 0;
  position: relative;
  width: 20%;
  display: inline;
}

.section-dropdown-search,
.section-dropdown-top {
  position: relative;
  display: none;
  background-color: #1f0c42;
  padding: 2% 0;
}
.section-dropdown-search.show,
.section-dropdown-top.show {
  display: block;
}
.section-dropdown-top {
  text-align: left;
}
.section-dropdown-top a {
  display: block;
  text-decoration: none;
  color: #2b5a79;
  font-size: 18px;
  padding: 3% 10%;
}
.section-dropdown-top a:hover {
  color: #8eb12f;
}
.section-dropdown-search a {
  display: block;
  text-decoration: none;
}
.section-dropdown-search-item {
  position: relative;
  text-align: left;
  padding: 3% 10%;
}

.section-dropdown-search-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.section-dropdown-search-item i {
  position: absolute;
  right: 10%;
  top: 30%;
  opacity: 0;
  transform: rotate(-360deg);
  transition: all 0.3s;
}
.section-dropdown-search-item span {
  color: #2b5a79;
  font-size: 18px;
}
input[type="checkbox"]:checked ~ i {
  opacity: 1;
  color: #2497e3;
  transform: rotate(360deg);
  transition: all 0.2s;
}
.menu-search-btn {
  border: 0;
  border-radius: 5px;
  color: #aec1ce;
  padding: 1.5% 3%;
  background-color: cornflowerblue;
}
.menu-search-btn:active {
  transform: scale(0.95);
}

@media (max-width: 820px) {
  ul.nav-col li:not(:last-child) {
    display: none;
  }
  .carousel-item-vid {
    height: 277px;
  }
}

@media (max-width: 560px) {
  .search-sec {
    display: none;
  }
  .carousel-item-vid {
    height: 220px;
  }
  span#src {
    letter-spacing: 0px;
  }
}

/************************************** title ********************************/
#title {
  /* background-color: #ffffff; */
  font-family: "STIX Two Text", serif;
}

#title .container {
  padding: 0 0 0.5%;
}

.title-header,
.title-p {
  padding: 6% 0 3%;
  text-align: center;
  color: #0b0014;
}

.title-header {
  font-size: 3rem;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}

#src {
  letter-spacing: 25px;
}

.title-p {
  font-size: 1.5rem;
  color: green;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 0;
}

.title-box {
  padding: 0 0 1%;
}

.title-row-text {
  text-align: left;
}
.title-row-imgs {
  display: flex;
  justify-content: center;
}
.title-row-img {
  width: 60%;
  text-align: center;
  margin: auto;
}

.main-search-section {
  background-color: transparent;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 75%;
  /* height: 120px; */
  border: 2px solid #c6cfe6;
  border-radius: 10px;
  box-shadow: 0 0 15px #c6cfe6;
  box-sizing: border-box;
  padding: 8px 0;
}
.search-and-search-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: none;
  max-width: 60%;
  min-width: 230px;
  border-radius: 50px;
  box-shadow: inset 0 0 10px #c6cfe6;
  border: none;
  margin: 0 auto;
  /* padding: 5px 10px; */
}
.main-search-text {
  outline: none;
  color: green;
  border: 1px solid #c6cfe6;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: none;
  background-color: transparent;
  width: 90%;
  padding: 5px 10px;
}
.main-search-text::placeholder {
  color: green;
}
.main-search-btn {
  position: relative;
  border: none;
  background-color: transparent;
  width: 10%;
  font-size: 19px;
  padding: 6px 6px 3px 1px;
  background-color: green;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.main-search-btn i {
  color: rgba(235, 233, 233, 0.918);
}
.search-filters {
  position: relative;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 12px auto;
}
.search-filter-item {
  position: relative;
  height: 50px;
  border: 2px solid #c6cfe6;
  width: 70px;
  border-radius: 10px;
  box-shadow: 0 0 10px #c6cfe6;
}

.search-filter-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}
.box-inset {
  box-shadow: inset 0 0 20px #c6cfe6;
}
.search-filter-item span {
  position: absolute;
  color: green;
  z-index: 99;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@media (max-width: 993px) {
  #src {
    letter-spacing: 15px;
  }
  .title-row-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/******************************************* filter section **************************/

#filter {
  padding: 1% 0 2%;
  /* background-color: #ffffff; */
  margin: 0;
  font-family: "Anton", sans-serif;
}

#filter .row {
  justify-content: center;
}

.filimg {
  position: relative;
  width: 100%;
}

.filter-item1 {
  margin-bottom: 5%;
  border-radius: 10%;
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imgs/socialmedia.jpg);
  background-size: cover;
  z-index: 0;
  box-shadow: 5px 5px 25px #a7a5a5, 5px 5px 25px #a7a5a5;
}
.filter-item2 {
  margin-bottom: 5%;
  border-radius: 10%;
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imgs/services.jpg);
  background-size: cover;
  z-index: 0;
  box-shadow: 5px 5px 25px #a7a5a5, 5px 5px 25px #a7a5a5;
}
.filter-item3 {
  margin-bottom: 5%;
  border-radius: 10%;
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imgs/material.jpg);
  background-size: cover;
  z-index: 0;
  box-shadow: 5px 5px 25px #a7a5a5, 5px 5px 25px #a7a5a5;
}
.filter-item4 {
  margin-bottom: 5%;
  border-radius: 10%;
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imgs/LOCATION.jpg);
  background-size: cover;
  /* position: relative; */
  z-index: 0;
  box-shadow: 5px 5px 25px #a7a5a5, 5px 5px 25px #a7a5a5;
}
.filter-item5 {
  margin-bottom: 5%;
  border-radius: 10%;
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imgs/website.jpg);
  background-size: cover;
  /* position: relative; */
  z-index: 0;
  box-shadow: 5px 5px 25px #a7a5a5, 5px 5px 25px #a7a5a5;
}

.filter-name {
  /* padding-top: 35%; */
  /* text-align: center; */
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 576px) {
  #filter {
    padding: 2% 15%;
  }
}

/******************************************* offer section **************************/

#offer {
  padding: 2% 5%;
}
.offer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer-item {
  width: max(32%, 300px);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px #c6cfe6 solid;
  box-shadow: 0 0 20px #c6cfe6;
  border-radius: 10px;
  background-color: transparent;
  margin: 1% auto;
  /* background-color: #edf5e7; */
}
.offer-item-img {
  position: relative;
  width: 40%;
  margin: auto;
}
.offer-item-img img {
  position: relative;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  border: 2px #c6cfe6 solid;
  border-radius: 10px;
}
.offer-item-detail {
  margin: 2% 0;
  width: 60%;
  position: relative;
  text-align: left;
}
.offer-item-detail a {
  color: #1a3365;
  font-size: 22px;
  margin-left: 10px;
  text-decoration: none;
}
.shin {
  color: #bcff02;
}
.offer-item-detail p {
  color: green;
}
.hell {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: right;
}
.item-num-rate {
  margin-right: 15%;
  position: relative;
  font-size: 25px;
}
.main-rate {
  font-size: 35px;
  font-weight: 700;
}

/******************************************** footer section **************************/

#footer {
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
}

#footer .row {
  margin: 0%;
}

.aboutus {
  position: relative;
  background: red;
  width: 70%;
  /* padding: 3% 7%; */
  text-align: left;
  font-family: "Merriweather", serif;
}

.aboutus h4 {
  color: #fff;
  padding: 7% 3% 1%;
}

.aboutus p {
  color: #fff;
  padding: 0 5% 5%;
}

.num-social {
  padding-right: 3%;
  font-size: 1.8rem;
  color: #fff;
  padding-top: 2%;
}

.socialmedias {
  padding-top: 2%;
}

.social-item {
  padding: 0 1%;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
}

.details {
  padding: 7%;
}

.proxmail {
  color: #fff;
  font-size: 1.3rem;
}

.details span {
  color: #a7a5a5;
  font-size: 1.2rem;
  font-weight: 600;
}

.details p {
  color: aliceblue;
  font-size: 1rem;
  padding: 1%;
}

.footer-nav {
  padding-bottom: 1%;
}

.footer-nav a {
  color: rgb(180, 176, 176);
  margin: 0% 5% 3%;
}

#copyright {
  background-color: rgb(24, 23, 23);
  margin: 0;
  padding-top: 0;
}

#copyright a {
  color: #8eb12f;
}

#copyright p {
  margin: 0%;
}

@media (max-width: 993px) {
  .aboutus {
    margin: auto;
    width: 90%;
  }
  .aboutus h4 {
    padding: 2% 3% 1%;
  }
  .aboutus p {
    padding: 0 5% 2%;
  }
  .details {
    padding: 2%;
  }
  .carousel-item-vid {
    height: 335px;
  }
}
